body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.25rem;
    align-items: center;
    justify-content: stretch
}

@media (min-width: 768px) {
    body {
        padding: 5rem 0;
    }
}

p {
    font-size: 0.9375rem;
    font-weight: 400;
}

img {
    width: 100%;
    border-radius: 10px;
}

main {
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

main h1, p {
    padding: 0 5px;
}
/*Footer*/
.attribution {
    bottom: 0;
    position: relative;
    display: block;
    padding: 10px;
    text-align: center;
}

a {
    color: hsl(220, 15%, 55%);
    text-decoration: none;
}

a:hover {
    color: hsl(218, 44%, 22%);
    text-decoration: underline;
}
